*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(black-red-metal-background_71775-391.jpg);
    font-family: sans-serif;

}
.wrapper{
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
.wrapper h2{
    background-color: #fcfcfc;
    color: #000;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}
h4{
    padding-bottom: 5px;
    color: #000;
}
.input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
}
.input-box:last-child{
    margin-right: 0;
}
.name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}
.name:focus, .dob:focus{
    -webkit-box-shadow:0 0 2px 1px #fff;
    -moz-box-shadow:0 0 2px 1px #fff;
    box-shadow: 0 0 2px 1px #fff;
    border: 1px solid #fff;
}

}
.name:focus + .icon{
    background-color: #ff0000;
    color: #fff;
    border-right: 1px solid #000;
    border: none;
    transition: 1s;
}
.dob{
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fff;
    transition: 0.3s;
    outline: none;
    border: 1px solid #fff;
    border-radius: 3px;
}
.radio{
    display: none;
}
.input-box label{
    width: 50%;
    padding: 13px;
    background-color: #fff;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #000;
}
.input-box label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.input-box label:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked + label{
    background-color:#000;
    color: #fff;
    transition: 0.5s;
}
.input-box select{
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}
.input-box select:focus{
    background-color: #000;
    color: #fff;
    text-align: center;
}
button{
    width: 100%;
    background: transparent;
    border: none;
    background: #000;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}
button:hover{
    cursor: pointer;
    background: #000;
}