*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
  /*background-image: url(92190705-computer-background-in-blues-mail-signs-globe-keyboard-and-buildings-.jpg);*/
  animation: bgcolor infinite 13s;
}
@keyframes bgcolor{
  0%
{
    background-image: url(3320156.jpg);
    background-size: 1200px 900px;
}
20%
{
  background-image: url(330634.jpg);
  background-size: 1200px 900px;
}
40%
{
  background-image: url(92190705-computer-background-in-blues-mail-signs-globe-keyboard-and-buildings-.jpg);
  background-size: 1200px 900px;
}
60%
{
  background-image: url(BCbl2cq.png);
  background-size: 1200px 900px;
}
80%
{
  background-image: url(wp192945.jpg);
  background-size: 1200px 900px;
}
90%{
  background-image: url(qP9BwD.jpg);
  background-size: 1200px 900px;;
}
100%{
  background-image: url(3320156.jpg);
  background-size: 1200px 900px;
}

}


}
nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 30px;
}
.apple{
  text-decoration-color: #fff;
  font-size: 55px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 15px;
}
.fas fa-apple-alt{
  color: white;
}
nav{
  height: 70px;
  background: #000;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #000;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: #23dbdb;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
section{
  background: url(bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
a{
  color: white;
}
.position{
  color: black;
  position: absolute;
  margin-top: 500px;
  margin-left: 900px;
}
.logo{
  margin-top: 10px;;
}