*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(wp2777444-light-purple-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 12px 12px 12px 12px;
}
a{
	text-decoration: none;
	color: black;
	text-decoration-color: black;
}
i{
	align-items: right;
}
img{
	border-radius: 12px;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}