*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(wp2777444-light-purple-background.jpg);
	text-decoration:none;
	background-size: 1100px 900px;
}
a{
	text-decoration: none;
	color: black;
	text-decoration-color: black;
}
i{
	align-items: right;
}
img{
	border-radius: 12px;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}